body{
    margin: 0;
    overflow-x: hidden !important;
}

.container{
    padding: 25px;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

li{
    padding: 0 10px;
    cursor: pointer;
}

/* popup */
.popup{
    visibility: hidden;
    opacity: 0;
    transition: 0.28s;
    position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.popup.show{
    visibility: visible;
    opacity: 1;
}

.popup .inner-sec-popup{
    padding: 30px;
}


.popup .head{
    position: relative;
}

.popup .head h1{
    margin: 0;
}

.popup .close-btn{
    color: #302d2e;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

.popup .content{
    padding: 30px 0 0 0;
}

.popup .content img{
    display: block;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .popup .content img{
        width: 100%;
    }
}

/* popup slide */
.popup-slide{
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup-slide.show{
    visibility: visible;
    opacity: 1;
}

.popup-slide .slide-left{
    width: 60%;
    position: absolute;
    left: -60%;
    transition: 0.3s;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
}

.popup-slide .slide-left.show{
    left: 0;
}

.popup-slide .slide-left a{
    color: #000;
    text-decoration: none;
    background: #fff;
    padding: 10px 20px 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    cursor: pointer;
}

.popup-slide .slide-right{
    width: 40%;
    position: absolute;
    right: -40%;
    transition: 0.3s;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: #fff;
}
.popup-slide .slide-right.show{
    right: 0;
}

.popup-slide .slide-right .content
{
    padding: 30px;
}

.popup-slide .slide-right .right-close-btn
{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.popup-slide .slide-right hr{
    width: 90%;
}